  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    padding: 0;
    margin: 0;
    height: 100%;
    }
  
body header{
  width: 100%;
  height: 100vh;
  background-image:url(img/hi.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}